{{if $.Items}}
<div class="flex flex-row justify-start">
<button type="button" class="btn btn-sm" hx-get="/header/modal" hx-target="body" hx-swap="beforeend" hx-trigger="click" aria-label="Открыть меню" title="Меню">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5"/></svg>
</button>
<div class="self-center font-bold">{{.Title}}</div>
</div>
{{end}}
