7 ICON    "4z.ico"
101 ICON  "cogs.ico"
102 ICON  "carnotify.ico"
103 ICON  "folder.ico"
104 ICON  "home.ico"
105 ICON  "HOME64.ico"
106 ICON  "stopwatch.ico"
107 ICON  "users.ico"
108 ICON  "red2.ico"
109 ICON  "green2.ico"
1 24      "app.exe.manifest"