<html>
<head>
  <meta charset="UTF-8" />
  <title></title>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png"/>
  <link rel="manifest" href="/assets/favicon/site.webmanifest"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/roboto.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/roboto_condenced.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <script src="/assets/js/tailwind.js"></script>
  <!-- порядок hyperscript и htmx важен  -->
  <!-- <script src="/assets/js/hyperscript.min.js"></script>
  <script src="/assets/js/htmx.min.js"></script>
  <script src="/assets/js/iconify-icon.min.js"></script>
  <script src="/assets/js/datamatrix.js"></script>
  <script src="/assets/js/highlight.min.js"></script>
  <script src="/assets/js/sweetalert2.js"></script> -->
</head>
<body class="antialiased h-full bg-slate-50 select-none">
{{ template "report" . }}
</body>
</html>

