<div id="page" class="mt-6 text-base">
  Отчеты нанесения сегодня: 
  <table class="table-auto w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="border border-gray-300 px-4 py-2">Name</th>
        <th class="border border-gray-300 px-4 py-2">Class</th>
        <th class="border border-gray-300 px-4 py-2">Address</th>
      </tr>
    </thead>
    <tbody>
        <tr class="bg-blue-100">
            <td class="border border-gray-300 px-4 py-2">Shiv</td>
            <td class="border border-gray-300 px-4 py-2">1</td>
            <td class="border border-gray-300 px-4 py-2">Noida</td>
        </tr>
        <tr>
            <td class="border border-gray-300 px-4 py-2">Ganesh</td>
            <td class="border border-gray-300 px-4 py-2">1</td>
            <td class="border border-gray-300 px-4 py-2">Noida</td>
        </tr>
        <tr class="bg-blue-100">
            <td class="border border-gray-300 px-4 py-2">Krishn</td>
            <td class="border border-gray-300 px-4 py-2">1</td>
            <td class="border border-gray-300 px-4 py-2">Noida</td>
        </tr>
    </tbody>
  </table>
</div>
