{{if $.Table}}
<table class="table-auto w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="border border-gray-300 px-4 py-2 text-base">Отчет</th>
        <th class="border border-gray-300 px-4 py-2">Наименование</th>
        <th class="border border-gray-300 px-4 py-2">Gtin</th>
        <th class="border border-gray-300 px-4 py-2">Заказ</th>
        <th class="border border-gray-300 px-4 py-2">Дата<br>пр-ва</th>
        <th class="border border-gray-300 px-4 py-2">Код АП</th>
        <th class="border border-gray-300 px-4 py-2">Кол-во</th>
      </tr>
    </thead>
    <tbody>
{{ range $j, $row := $.Table }}
    <tr class="bg-blue-100 text-xs">
      <td class="border border-gray-300 px-4 py-2">{{$row.Utilisation}}</td>
      <td class="border border-gray-300 px-4 py-2">{{$row.ProductName}}</td>
      <td class="border border-gray-300 px-4 py-2">{{$row.Gtin}}</td>
      <td class="border border-gray-300 px-4 py-2">{{$row.Order}}</td>
      <td class="border border-gray-300 px-4 py-2">{{$row.ProductionDate}}</td>
      <td class="border border-gray-300 px-4 py-2">{{$row.ProductAlcCode}}</td>
      <td class="border border-gray-300 px-4 py-2">{{$row.Quantity}}</td>
    </tr>
{{ end }}
    </tbody>
  </table>
{{if $.Reports}}
<div class="mt-2 flex items-center justify-between">
  <button 
    class="focus:shadow-outline rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none" 
    hx-get="/prodtools/produce/{{$.Date.Format "2006.01.02"}}" hx-target="#page" hx-swap="outerHTML"
    type="button">
  Создать производство
  </button>
</div>
<div class="mt-2">Будут сформированы отчеты прозводства:</div>
{{range $j, $rp := $.Reports }}
<div>
  <div class="text-center">Отчет производства от {{$rp.Report.DocDate}} дата производства {{$rp.Report.DocProducedDate}}</div>
  <table class="table-auto w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="border border-gray-300 px-4 py-2 text-base">№</th>
        <th class="border border-gray-300 px-4 py-2">Наименование</th>
        <th class="border border-gray-300 px-4 py-2">Код АП</th>
        <th class="border border-gray-300 px-4 py-2">Упаковка</th>
        <th class="border border-gray-300 px-4 py-2">Емкость<br>тары, л</th>
        <th class="border border-gray-300 px-4 py-2">Количество шт/дал</th>
      </tr>
    </thead>
    <tbody>
{{ range $j, $row := $rp.Products }}
    <tr class="bg-blue-100 text-xs">
      <td class="border border-gray-300 px-4 py-2">{{$row.ProductIdentity}}</td>
      <td class="border border-gray-300 px-4 py-2">{{$row.ProductFullName}}</td>
      <td class="border border-gray-300 px-4 py-2">{{$row.ProductAlcCode}}</td>
      <td class="border border-gray-300 px-4 py-2">{{$row.ProductUnitType}}</td>
      <td class="border border-gray-300 px-4 py-2">{{$row.ProductCapacity}}</td>
      <td class="border border-gray-300 px-4 py-2">{{$row.ProductQuantity}}</td>
    </tr>
{{ end }}
    </tbody>
  </table>
</div>
{{end}}
{{end}}
{{else}}
<div>Нанесения {{$.Date.Format "02.01.2006"}} не производилось или еще не подтверждено</div>
{{end}}


